
<section>
<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
     <hr>
    <div class="container">
	<div class="row text-center">
        <div class="">
        <br><br> <h2 style="color:#0fad00">Success Order Was Placed</h2>
         <br>
         <h3 style="text-transform: uppercase;">Dear, {{user.name}}</h3>     
         <br>
   <p style="font-size:20px;color:#5C5C5C;">Thank you for Placing order your email "{{user.email}}" with your details
 Please go to your above Order page now and click below.</p>
        <a href="/orders" class="btn btn-success">     View order      </a>
    <br><br>
        </div>
        
	</div>
</div>
  
  <p class="lead"><strong>Please check your order page</strong> for further instructions on how to complete your order setup.</p>
  <hr>
  <p>
    Having trouble? <a href="">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
  </p>
</div>
</section>